$body-color: red;

body {
  color: $body-color;
  display: flex;
  justify-content: center;
}

.logo{
    width: 100%;
    margin: 10px;
    background: url('./img/logo.png');
    background-size: auto;
}